<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Stockmarket 1982</title>
  <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
  <div id="screen" class="single-column">
    <div id="game-content"></div>
    <div id="activity-panel" class="activity-column" style="display: none;">
      <div class="activity-header">*** TRADING ACTIVITY ***</div>
      <div id="activity-log" class="activity-log"></div>
    </div>
  </div>
  <input id="input" type="text" autocomplete="off" autofocus placeholder="> Type command..." />

  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
