<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stockmarket 1982 - Retro</title>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="screen">
        <div id="log" class="terminal"></div>
        <div id="input-area">
            <input type="text" id="command-input" placeholder="> Type command..." autofocus />
        </div>
    </div>

    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
    <script src="{{ url_for('static', filename='game.js') }}"></script>
</body>
</html>
